<html>
    <head>
        <title>Mock Bank</title>
    </head>
    <body>
        <h1>Mock Bank Apis</h1>
        <h3>{{ welcome_message }}</h3>
        <button>Balance</button>
        <br>
        <br>
        <button>Transfer</button>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
            $(document).ready(function(){
                $("button").click(function(){
                    const name = $("h3").text();
                    if (name.length < 2) {
                        alert('Please log in.');
                        location.replace("http://127.0.0.1:5005/login");
                    }
                });
            });
        </script>
    </body>
</html>